<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <script type="application/javascript" th:src="@{/webjars/node-snackbar/snackbar.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{/webjars/node-snackbar/snackbar.css}" />
    <script type="application/javascript" th:src="@{/webjars/simple-lightbox/simpleLightbox.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{/webjars/simple-lightbox/simpleLightbox.min.css}" />
    <script type="application/javascript">
        function generateThumbnails(form) {
            const thumbnailsUrl = form.getAttribute('action');
            const formData = new FormData(form);
            fetch(thumbnailsUrl, {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.status === 200) {
                    response.text().then(text => Snackbar.show({
                        text: `Generated ${text} thumbnails!`,
                        pos: 'bottom-center',
                        showAction: false
                    }));
                } else {
                    Snackbar.show({
                        text: `Failed to generate thumbnails: ${response.status}`,
                        pos: 'bottom-center',
                        textColor: '#df052f',
                        showAction: false
                    })
                }
            });
        }
    </script>
    <style type="text/css">
        .grid-item {
            width: 300px;
            height: 200px;
            display: inline-block;
            margin: 2em;
            text-align: center;
        }
    </style>
</head>
<body>
    <section layout:fragment="content">
        <h2 class="mt-2 text-break" th:text="${#strings.defaultString(path,'root')}">Name</h2>
        <ul class="mt-2 list-group">
            <li th:each="folder: ${folders}" class="list-group-item text-break"><a th:href="@{/gallery(path=${folder.fullPath})}"><i class="fas fa-folder"></i> <span th:text="${folder.name}">Folder</span></a></li>
        </ul>
        <div class="mt-2" id="image-gallery">
            <a class="grid-item" th:each="image: ${images}" th:href="@{/gallery/image(path=${image.fullPath})}" th:title="${image.name}">
                <img th:src="@{/gallery/image(path=${image.thumbnailPath})}" th:alt="${image.name}" th:onerror="|this.onerror=null; this.src='@{/img/default.png}'|" />
            </a>
        </div>
        <h3 class="mt-2">Actions</h3>
        <form id="gallery-actions" method="post" th:action="@{/gallery/thumbnails}" onsubmit="generateThumbnails(this); return false;" class="mb-4">
            <input type="hidden" name="path" th:value="${path}" />
            <button class="btn btn-secondary mr-2">generate thumbnails</button>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="regenerate" name="regenerate" value="true" />
                <label class="form-check-label" for="regenerate">regenerate</label>
            </div>
        </form>
    </section>
    <footer layout:fragment="footer">
        <script type="application/javascript">
            new SimpleLightbox({elements: '#image-gallery a'});
        </script>
    </footer>
</body>
</html>