<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Cloud Image Viewer</title>
</head>
<body>
    <section layout:fragment="content">
        <h3 class="mt-4">Welcome to cloud image viewer!</h3>
        <p sec:authorize="!isAuthenticated()">If you want to view images, please <a th:href="@{/gallery}">login</a>!</p>
        <p sec:authorize="isAuthenticated()"><a th:href="@{/gallery}">Explore the galleries in your cloud</a></p>
    </section>
</body>
</html>