<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Cloud Image Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" th:href="@{/img/favicon.png}" />
    <meta name="mobile-web-app-capable" content="yes"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/font-awesome/css/all.css}"/>
    <style type="text/css">
        .navbar-brand i {
            color: rgba(191, 5, 43, 1);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/gallery}"><i class="fas fa-image"></i> Cloud Image Viewer</a>
        <div class="mr-auto"></div>
        <span sec:authorize="isAuthenticated()" sec:authentication="name" class="d-none d-sm-none d-sm-inline text-white mr-2">username</span>
        <a sec:authorize="!isAuthenticated()" class="btn btn-outline-light" th:href="@{/gallery}">
            <i class="fas fa-sign-in-alt"></i> login
        </a>
        <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
            <button class="btn btn-outline-light" type="submit" value="logout"><i class="fas fa-sign-out-alt"></i> logout</button>
        </form>
    </div>
</nav>
<section class="container" layout:fragment="content">
    CONTENT
</section>
<footer layout:fragment="footer">

</footer>
</body>
</html>